@charset "UTF-8";
#titleTd{
  border-color: white;
  height: 25px;
  width: 120px;
  background-color: #8080c0;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.board {
  vertical-align: center;
  position: relative;
  margin: 0.5% 0 0 0;
  align-items: center;
}
table.table{  	
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-left : auto;
  margin-right: auto;
}
table.table th {
  height: 30px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #eee;
}
table.table td {
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.subject{
  width: 500px;
}
.board_subject{
  font-size: 30px;
  margin-left: 30px;
}
.board_detail{
  display: flex;
}
.board_id{
  font-size: 20px;
  margin-left: 30px;
}
.board_date{
  font-size: 20px;
  margin-left: 30px;
}
.board_count{
  font-size: 20px;
  margin-left: 20px;
}
table.table_recipe{
  display: inline-block;
  align-items: center;
}