@charset "UTF-8";

body{
	margin:0; /*배경이미지 여백을 없애줌 , 바디영역이 디폴트값 margin:8px정도 들어가있기 때문 */
	height:2000px; /*바디영역의 높이를 높게 줘서 스크롤할수있도록*/
}


/*이미지*/
.place {
	width:500px;
	height:300px;
	/*position: absolute;*/
	top:300px;
	right:200px;
}

.view_map {
	position: absolute;
}
