@charset "UTF-8";

table .detail_picture_table{
	margin-left: 200px;
}


table .detail_table1{
	width: 600px;
	table-layout: fixed;
	word-break: break-all; 
	height: 650px; 
	margin-right: 200px;
}
img.detail_img{
	width: 90%;
	height: auto;
	border-radius: 35px;
}
