@charset "UTF-8";

.hometext {
    color:white;
    font-size: 50px;
    position: absolute;
    top:250px;
    left:320px;
    font-family: 'NEXON Lv2 Gothic Bold';
    animation: slide 5s ease-out;   /*아래 @keyframes slide */
}

.homereserve{
    color:white;
    font-size: 50px;
    position: absolute;
    top:500px;
    left:720px;
    font-family: 'NEXON Lv2 Gothic Bold';
}


@keyframes slide { 
    from{
        top:30px;  
        opacity:0; 
    }
    to{
        left:320px;
        opacity:1; 
    }
}

@keyframes disappear  {
        from{
        top:30px; 
        opacity:1; 
    }
    to{
        left:-100px;
        opacity:0 
    }

}

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}