@charset "UTF-8";
/*
header {
	position: fiexed;
	left: 0;
	right: 0;
	top: 0;
	background: black;
}
header nav ul{
	display: flex;
	justify-content: center;
}
heaer nav ul li{
	margin:0 20px;
	list-style:none;
}

*/