@charset "UTF-8";

table.table_product{
  display: inline-block;
  align-items: center;
  position: relative;
  left: 100px; 
  margin: 5px;
  padding: 25px;

}

table.table_milkit{
  display: inline-block;
  align-items: center;
  position: relative;
  left: 600px; 
  margin: 5px;
  padding: 25px;

}

img.table_product_picture{
	width: 220px; 
	height: 200px;
	border-radius: 15px;
}
img.table_product_picture:hover{
	background-color:#CCCCCC;
	transform: scale(0.9);
    transition: all 0.2s;
}

.shopping_rankimg{
	border-radius: 15px;
}
.shopping_rankimg:hover{
	background-color:#CCCCCC;
	transform: scale(0.9);
    transition: all 0.2s;
}



img.mainpicture{
	height: 500px; width: 1300px; display: block; margin: 0px auto;
}

td.table_product_td1{
	color:#607d8b;
}
td.table_product_td2{
	font-weight: 700;
}

button.table_product_del{
	position: absolute;
	margin-left: 180px;	
	border: none;
	bottom: 30px; 
	right: 30px;
}

.main_searchbtn{
	border: none; 
	background-color: white;
	width: 40px;
	height: 40px;
	font-family: 'Pretendard-Regular';
	color: black;
	
}

.loginsuccess1{
	font-family: 'GowunDodum-Regular';
    color: #1a1919;
}

.loginsuccess2{
	font-family: 'GowunDodum-Regular';
    color: #1a1919;
}


div.campingmain_paging{
	margin-left: 670px;	
}

.c_searchtable{
	position:relative;
    left: 1300px;
}
h3.Product_h3 {
	font-weight:bold;
	margin-left:135px;
	margin-top:25px;
	font-size: 25pt;
	font-family: 'GowunDodum-Regular';
	color:#66bb6a;
}

div.reglayout{
	margin-top: 140px;
}

div.p_search{
	margin-left: 630px;
	margin-top: 10px;
	
}

input.main_searchinput{
	border:2px solid gray;
	height: 40px;
	width: 250px;
}

span.main_span2{
	font-size: 25pt;
	font-family: 'GowunDodum-Regular';
	font-weight:bold;
	color:black;
}

h4.main_click{
	font-family: 'KoPubDotumMedium';
	font-size: 15pt;
	margin-left:1115px;
	margin-top: 4px;
	position: absolute;	
}
span.main_span{
	font-family: 'KoPubDotumMedium';
	font-size: 15pt;
	color: #4ba3c7
}

span.paging_num{
	color:white;
	background-color: #2e9cdf;
	 cursor: pointer;
	 font-size: 15pt;
	  border-radius: 50px; 
	  padding-left: 5px; 
	  padding-right: 5px;
}

a.paging_num2{
	color:black;
	font-size: 15pt; 
	padding-left: 5px;
	padding-right: 5px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}