@charset "UTF-8";
.gocamping_login{
  width: 400px;
  height: 190px;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 0.5px 6px grey;
  text-align: center;
  margin: 30px 0 0 550px;
}
.login_id_box{
  text-align: center;
  width: 250px;
  height: 37px;
  border: 1px;
  display: inline-flex;
  border-color: black;
  margin: 30px 0 10px 0;
}

.login_pw_box{
  text-align: center;
  width: 250px;
  height: 37px;
  border: 1px;
  display: inline-flex;
  border-color: black;
  margin: 0 0 10px 0;
}

.login_id_img{
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 0;
}

.login_id{
  width: 350px;
  height: 40px;
}

.login_pw{
  width: 350px;
  height: 40px;
}

.login_pw_img{
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 0;
}

.login_btn{
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin: 5px 0 0 0;
  font-weight: 300;
}
.login_detail{
  margin-top: 10px;
  text-align: center;
}