@charset "UTF-8";

body{
	margin:0; /*배경이미지 여백을 없애줌 , 바디영역이 디폴트값 margin:8px정도 들어가있기 때문 */
	height:600px; /*바디영역의 높이를 높게 줘서 스크롤할수있도록*/
}


	/*height: 100vh; /*view height*/
	/*background-image:url("cam2.jpg"); 
	/*background-size : cover /*배경 꽉 채우게(배경이 반복되는현상 방지*/

table.rank_producttable {
	display: inline-block;
	align-items: center;
	
}

table.rank_milkittable {
	display: inline-block;
	align-items: center;
	
}

@font-face { 
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*@font-face 직접 파일들고와 적용*/
@font-face {
	font-family:tway;
	src: url("tway_sky.ttf");
}

/*애니메이션 효과 왼->오*/
@keyframes slide { /*name은 slide로. animation: slide 2s;*/
	from{
		left:-100px;  /*뒤에서부터 날라와야하니*/
		opacity:0; /* 투명도 0에서*/
	}
	to{
		left:100px;
		opacity:1; /* 투명도 1됨*/
	}
}

@keyframes disappear  {
		from{
		left:100px;  /*뒤에서부터 날라와야하니*/
		opacity:1; /* 투명도 0에서*/
	}
	to{
		left:-100px;
		opacity:0 /* 투명도 0됨*/
	}
	
}

*/