<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fi.pj.Mypage.MypageMapper">
	
	<select id="getUserinformation" resultType="com.fi.pj.Mypage.Information">
		select * from user_table where u_id = #{u_id}
	</select>
		
	<select id="getManagerinformation" resultType="com.fi.pj.Mypage.Information">
		select * from root_table
	</select>
	
	<select id="getUreservelist" resultType="com.fi.pj.Mypage.Reservation">
		select * from reservation_table where r_u_id = #{u_id}
	</select>
</mapper>