<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fi.pj.campingplace.PlaceMapper">

<select id ="getAllPlace" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.Campingplace">
	select rn,c.*
		from(select Rownum as rn,a.*,star
			from camping_table a,
				(select c_cam_no, avg(c_campingstar) as star
				from campingreview_table 
				group by c_cam_no) b
			where a.cam_no=b.c_cam_no
			ORDER BY a.cam_no desc) c
		where RN &gt;=#{from} and RN &lt;=#{to}
</select>

<select id="getAllPlacecnt" resultType="Integer" >
		select count(*) from camping_table
</select>

<insert id="PlaceReg" parameterType="com.fi.pj.campingplace.Campingplace">
	insert into camping_table 
	values(camping_seq.nextval,#{cam_bo_id},#{cam_name},#{cam_picture}
	,#{cam_txt},#{cam_phonenumber},#{cam_price},#{cam_address},#{cam_latitude},#{cam_longitude},#{cam_headcount})
</insert>

<delete id="PlaceDel" parameterType="com.fi.pj.campingplace.Campingplace">
	delete from camping_table where cam_no = ${cam_no}
</delete>

<update id="PlaceUpdate" parameterType="com.fi.pj.campingplace.Campingplace">
	update camping_table 
	set cam_name = #{cam_name}, cam_picture= #{cam_picture}, cam_txt = #{cam_txt}
	, cam_phonenumber = #{cam_phonenumber}, cam_price = #{cam_price}
	, cam_address = #{cam_address}, cam_latitude = #{cam_latitude}, cam_longitude = #{cam_longitude}, cam_headcount=#{cam_headcount}
	where cam_no = ${cam_no}
</update>

<select id ="getOnePlace" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.Campingplace">
	select * from camping_table where cam_no = ${cam_no}
</select>

<select id ="getAllReview" resultType="com.fi.pj.campingplace.placeReview" parameterType="com.fi.pj.campingplace.placeReview">
	select * from campingreview_table where c_cam_no = ${c_cam_no} order by c_no desc
</select>

<insert id="ReviewReg" parameterType="com.fi.pj.campingplace.placeReview" >
	insert into campingreview_table
	values(campingreview_seq.nextval,#{c_cam_no},#{c_u_id}
	,#{c_campingreview},#{c_campingstar},sysdate)
</insert>

<delete id="ReviewDel" parameterType="com.fi.pj.campingplace.placeReview">
	delete from campingreview_table where c_no = ${c_no}
</delete>

<update id="ReviewUpdate" parameterType="com.fi.pj.campingplace.placeReview">
	update campingreview_table
	set c_campingreview = #{c_campingreview}
	where c_no = ${c_no}
</update>

<insert id="reserve" parameterType="com.fi.pj.campingplace.placeReserve">
	insert into reservation_table 
	values (reservation_seq.nextval, #{r_cam_no}, #{r_u_id}, #{r_u_name}, #{r_u_phonenumber}, #{r_cam_name},
	#{r_campingstartdate}, #{r_campingenddate}, #{r_campingheadcount}, #{r_campingprice},
	#{r_cam_phonenumber}, #{r_cam_address})
</insert>

<insert id ="placeLike" parameterType="com.fi.pj.campingplace.campingLike">
	insert into campingheart_table
	values (campingheart_seq.nextval, #{h_cam_no}, #{h_u_id}, #{h_cam_name}, #{h_cam_address}, #{h_campingheart})
</insert>

<select id ="getHeartList" resultType="com.fi.pj.campingplace.campingLike" parameterType="com.fi.pj.campingplace.campingLike">
	select * from campingheart_table order by h_no desc
</select>

<delete id="placeLike_del" parameterType="com.fi.pj.campingplace.campingLike">
	delete from campingheart_table where h_cam_no=#{h_cam_no} and h_u_id=#{h_u_id}
</delete>
<select id="getheart" resultType="String" parameterType="com.fi.pj.campingplace.campingLike">
	select h_cam_name from campingheart_table where h_cam_no=#{h_cam_no} and h_u_id=#{h_u_id}
</select>


<select id ="Search_place" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.placeSearch">
	select rn,c.*
	from(select Rownum as rn,a.*,star
		from (select * from camping_table where cam_name like '%'||#{search}||'%') a,
			(select c_cam_no, avg(c_campingstar) as star
			from (campingreview_table)
			group by c_cam_no) b
		where a.cam_no=b.c_cam_no
		ORDER BY a.cam_no desc) c
	where RN &gt;=#{from} and RN &lt;=#{to}
</select>

<select id ="Search_place_cnt" resultType="Integer" parameterType="com.fi.pj.campingplace.placeSearch">
	select count(*) from camping_table where cam_name like '%'||#{search}||'%' order by cam_no desc 
</select>


<select id ="Search_star" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.placeSearch">
	select rn,c.*
		from(select Rownum as rn,a.*,star
			from camping_table a,
				(select c_cam_no, avg(c_campingstar) as star
				from campingreview_table 
				group by c_cam_no) b
			where a.cam_no=b.c_cam_no
			ORDER BY star desc) c
		where RN &gt;=#{from} and RN &lt;=#{to}
</select>

<select id ="Search_p" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.placeSearch">
	select rn,c.*
		from(select Rownum as rn,a.*,star
			from camping_table a,
				(select c_cam_no, avg(c_campingstar) as star
				from campingreview_table 
				group by c_cam_no) b
			where a.cam_no=b.c_cam_no
			ORDER BY star desc) c
		where RN &gt;=#{from} and RN &lt;=#{to} and c.cam_price&gt;=#{from_p} and c.cam_price&lt;=#{to_p}
</select>

<select id="getpricecnt" resultType="Integer"  parameterType="com.fi.pj.campingplace.placeSearch">
		select count(*) from camping_table where cam_price&gt;=#{from_p} and cam_price&lt;=#{to_p}
</select>

<select id="getheartlist" parameterType="com.fi.pj.campingplace.campingLike" resultType="com.fi.pj.campingplace.campingLike">
	select * from campingheart_table where h_u_id=#{h_u_id}
</select>

<select id ="Search_area" resultType="com.fi.pj.campingplace.Campingplace" parameterType="com.fi.pj.campingplace.placeSearch">
	select rn,c.*
	from(select Rownum as rn,a.*,star
		from (select * from camping_table where cam_address like '%'||#{search }||'%') a,
			(select c_cam_no, avg(c_campingstar) as star
			from (campingreview_table)
			group by c_cam_no) b
		where a.cam_no=b.c_cam_no
		ORDER BY a.cam_no desc) c
	where RN &gt;=#{from} and RN &lt;=#{to}
</select>

<select id ="getareacnt" resultType="Integer" parameterType="com.fi.pj.campingplace.placeSearch">
	select count(*) from camping_table where cam_address like '%'||#{search }||'%' order by cam_no desc 
</select>

<select id ="getAllReply" resultType="com.fi.pj.campingplace.placeReply" parameterType="com.fi.pj.campingplace.placeReply">
	select * from campingreview_bossreply_table where cr_cam_no = ${cr_cam_no} order by cr_no desc
</select>

<insert id="ReplytxtReg" parameterType="com.fi.pj.campingplace.placeReply" >
	insert into campingreview_bossreply_table
	values(campingreview_bossreply_seq.nextval,#{cr_cam_no},#{cr_bo_id},#{cr_u_id}
	,#{cr_replytxt},sysdate)
</insert>

</mapper>