<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fi.pj.shopping.ShoppingMapper">
<select id="getAllProduct" resultType="com.fi.pj.shopping.Product">
	select * from product_registration_table order by p_no DESC
</select>

<insert id="regProduct" parameterType="com.fi.pj.shopping.Product">
	insert into product_registration_table(p_no,p_name,p_picture,p_price,p_txt)
	values (product_registration_table_seq.nextval,#{p_name},#{p_picture},#{p_price},#{p_txt})
</insert>

<select id="ProductSearch" resultType="com.fi.pj.shopping.Product"> 
	select * from product_registration_table where p_name like '%'||#{p_name}||'%'
</select>

<delete id="delProduct" parameterType="com.fi.pj.shopping.Product">
	delete product_registration_table where p_no = #{p_no}
</delete>

<select id="getProduct" resultType="com.fi.pj.shopping.Product">
	select * from product_registration_table where p_no = #{p_no}
</select>

<select id="detailProduct" resultType="com.fi.pj.shopping.Product"> 
		select * from product_registration_table where p_no = #{p_no}
</select>

</mapper>